{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'grapes_backend_app/style.css' %}">
    <title>Grape Sense Login</title>
</head>
<body>
    <div class="login-card">
        <h2><img src="{% static 'grapes_backend_app/Grape Sense.svg' %}" width="180"
            height="100" />        </h2>
        <h3>Enter your credentials</h3>

        <form class="login-form">
            <input type="text" placeholder="Username">
            <input type="password" placeholder="Password">
            <button type="submit">LOGIN</button>
        </form>
    </div>    
</body>
</html>